/* App.css Styles */
* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  height: 100%;
  margin: 0;
}

/* Login Screen  */
.login {
  width: 100%;
  background-color: #006aff;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  background-color: #ffffff;
  height: 350px;
  border-radius: 20px;
  padding-top: 50px;
}
.title {
  color: #006aff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "ebrima";
  margin-bottom: -10px;
}
.form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 12px;
  margin-top: 12px;
  display: block;
  width: 45%;
  border: 0.3px solid #bfc9ca;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
input:focus {
  outline: none;
}
.button {
  display: block;
  width: 35%;
  background-color: #006aff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* Dashboard Component */

.main {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f2f4f4;
}
.header {
  width: 100%;
  height: 70px;
  background-color: #006aff;
  display: flex;
  align-items: center;
}

.tit {
  color: #ffffff;
  font-family: "ebrima";
  font-size: 22px;
  font-weight: 600;
  margin-left: 65px;
}

.wrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding-bottom: 50px;
}
.sidebar {
  width: 10%;
  display: flex;
  padding-left: 10px;
  background-color: #ffffff;
  margin-left: 20px;
}
li {
  text-decoration: none;
  list-style: none;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: #2874a6;
  font-size: 16px;
  font-size: medium;
  font-weight: 600;
  display: block;
  padding: 10px;
}

li a:hover {
  color: #ffffff;
  background-color: #006aff;
}
.content {
  width: 90%;
}

.img {
  width: 100%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}

.imag {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* customres screen */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.section {
  width: 48%;
  background-color: #ffffff;
}
.searchCon {
  width: 100%;

  margin-top: 10px;
  margin-bottom: 10px;
}
.search {
  padding: 8px;
  display: block;
  width: 40%;
  border: 0.3px solid #bfc9ca;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  width: 25%;
  background-color: #006aff;
  padding: 8px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.userCon {
  width: 100%;
}
.user {
  width: 80%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  border-radius: 100px;
}

.pic {
  width: 20%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
}
.email {
  width: 80%;
  height: 100%;
  background-color: #f2f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 45%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 200px;
  overflow: hidden;
}

.data {
  width: 100%;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.update {
  padding: 10px;
  width: 40%;
  margin: 10px;
  border-radius: 20px;
  border: 0.3px solid #bfc9ca;
}

/* logout screen */
.logout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sublog {
  width: 20%;
  padding: 50px;
}
.logbtn {
  display: block;
  width: 100%;
  background-color: #006aff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
}

/* Partner section */
.boxCon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  justify-content: center;
  align-items: center;
}
.boxcon {
  width: 12%;
  overflow: hidden;
  height: 110px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  border: 0.3px solid #bfc9ca;
  padding: 5px;
}
