/* App.css Styles */
* {
  margin: 0px;
  padding: 0px;
}

/* Login Screen  */
.login {
  width: 100%;
  background-color: #006aff;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  background-color: #ffffff;
  height: 350px;
  border-radius: 20px;
  padding-top: 50px;
}
.title {
  color: #006aff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "ebrima";
  margin-bottom: -10px;
}
.form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 12px;
  margin-top: 12px;
  display: block;
  width: 45%;
  border: 0.3px solid #bfc9ca;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
input:focus {
  outline: none;
}
.button {
  display: block;
  width: 35%;
  background-color: #006aff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* Dashboard Component */

.main {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #dbe0e0;
}
.header {
  width: 100%;
  height: 90px;
  background-color: #1b4f72;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tit {
  color: #ffffff;
  font-family: "ebrima";
  font-size: larger;
  font-size: 25px;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding-bottom: 50px;
}
.sidebar {
  width: 15%;
  display: flex;
  background-color: #1b4f72;
  height: 700px;
  margin-top: -29px;
}
li {
  text-decoration: none;
  list-style: none;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-size: medium;
  font-weight: 500;
  display: block;
  padding: 10px;
  padding-left: 15px;
}

li a:hover {
  color: #f4d03f;
}
.content {
  width: 85%;
}

/* landing screen */
.img {
  width: 100%;
  height: 600px;
  background-color: #dbe0e0;
}
.mainCon {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ffffff;
}
.adminBoxCon {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.adminBox {
  width: 25%;
  border-radius: 10px;
  margin: 15px;
  color: #ffffff;
  border: 0px solid white;
  height: 150px;
  cursor: pointer;
  background-color: #1b4f72;
  font-size: larger;
  font-family: "ebrima";
}
.BoxTxt {
  color: #ffffff;
  font-size: 20px;
  font-family: "ebrima";
}
.BoxTxt:hover {
  color: #f4d03f;
}
.adminBox:hover {
  color: #f4d03f;
}

/* customres screen */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  overflow-y: scroll;
  height: 650px;
}
.section {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.searchCon {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
}
.search {
  padding: 12px;
  display: block;
  width: 35%;
  border: 0.3px solid #bfc9ca;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  width: 15%;
  background-color: #006aff;
  padding: 9px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.userCon {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.user {
  width: 90%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border-radius: 100px;
  background-color: #dbe0e0;
  margin-top: 10px;
  margin-bottom: 3px;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.user:hover {
  background-color: #d4e6f1;
}

.pic {
  width: 15%;
  height: 90%;
  border-radius: 50px;
  overflow: hidden;
}
.email {
  width: 60%;
  height: 95%;
  display: flex;
  align-items: center;
}
.profile {
  width: 40%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.data {
  width: 100%;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.update {
  padding: 10px;
  width: 28%;
  margin: 10px;
  border-radius: 20px;
  border: 0.3px solid #bfc9ca;
  color: #1b4f72;
  text-align: center;
}

/* logout screen */
.logout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sublog {
  width: 20%;
  padding: 50px;
}
.logbtn {
  display: block;
  width: 100%;
  background-color: #006aff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
}

/* Partner section */
.boxCon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  justify-content: space-between;
  align-items: center;
}
.boxcon {
  width: 13%;
  overflow: hidden;
  height: 90px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  border: 0.3px solid #bfc9ca;
  padding: 1px;
}
