/* App.css Styles */
* {
  margin: 0px;
  padding: 0px;
}

/* Login Screen  */
.login {
  width: 100%;
  background-color: #006aff;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  background-color: #ffffff;
  height: 350px;
  border-radius: 20px;
  padding-top: 50px;
}
.title {
  color: #006aff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "ebrima";
  margin-bottom: -10px;
}
.form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 12px;
  margin-top: 12px;
  display: block;
  width: 45%;
  border: 0.3px solid #bfc9ca;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
input:focus {
  outline: none;
}
.button {
  display: block;
  width: 35%;
  background-color: #006aff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* Dashboard Component */

.main {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #dbe0e0;
}
.header {
  width: 100%;
  height: 90px;
  background-color: #1b4f72;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tit {
  color: #ffffff;
  font-family: "ebrima";
  font-size: larger;
  font-size: 25px;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding-bottom: 50px;
}
.sidebar {
  width: 12%;
  display: flex;
  background-color: #1b4f72;
  height: 700px;
  margin-top: -29px;
}
li {
  text-decoration: none;
  list-style: none;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-size: medium;
  font-weight: 500;
  display: block;
  padding: 10px;
  padding-left: 15px;
}

li a:hover {
  color: #f4d03f;
}
.content {
  width: 88%;
}

/* landing screen */
.img {
  width: 100%;
  height: 600px;
  background-color: #dbe0e0;
}
.mainCon {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ffffff;
}
.adminBoxCon {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.adminBox {
  width: 25%;
  border-radius: 10px;
  margin: 15px;
  color: #ffffff;
  border: 0px solid white;
  height: 150px;
  cursor: pointer;
  background-color: #1b4f72;
  font-size: larger;
  font-family: "ebrima";
}
.BoxTxt {
  color: #ffffff;
  font-size: 20px;
  font-family: "ebrima";
}
.BoxTxt:hover {
  color: #f4d03f;
}
.adminBox:hover {
  color: #f4d03f;
}

/* customres screen */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.section {
  width: 80%;
  height: 670px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
.searchCon {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
}
.search {
  padding: 8px;
  display: block;
  width: 30%;
  border: 0.3px solid #bfc9ca;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn {
  display: block;
  width: 15%;
  background-color: #006aff;
  padding: 9px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  /* display: none; */
}
.userCon {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.user {
  width: 100%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border-radius: 2px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 0.5px solid #d5d5d5;
  font-family: monospace;
}
.user:hover {
  background-color: #e9f4ff;
}

.pic {
  width: 10%;
  height: 90%;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email {
  width: 45%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 40%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.data {
  width: 100%;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.update {
  padding: 10px;
  width: 28%;
  margin: 10px;
  border-radius: 20px;
  border: 0.3px solid #bfc9ca;
  color: #1b4f72;
  text-align: center;
}

/* logout screen */
.logout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sublog {
  width: 20%;
  padding: 50px;
}
.logbtn {
  display: block;
  width: 100%;
  background-color: #006aff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  font-family: "ebrima";
  cursor: pointer;
}

/* Partner section */
.boxCon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  justify-content: space-between;
  align-items: center;
}
.boxcon {
  width: 13%;
  overflow: hidden;
  height: 90px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  border: 0.3px solid #bfc9ca;
  padding: 1px;
}

/* -----------------------------------------------------order page */

.orderWrap {
  width: 100%;
  height: 670px;
  overflow-y: scroll;
}

.titleBarStatic {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b4f72;
  border-radius: 4px;
}
.bxStatic {
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.titleBar {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px solid #eaeded;
  padding: 2px;
  cursor: pointer;
  color: rgb(43, 41, 41);
}
.titleBar:hover {
  background-color: #e9f4ff;
}
.bx {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}

.orderPic {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderImg {
  width: 65%;
  height: 95%;
  border-radius: 100px;
}
.orderName {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* --------------------------------------Order Profile */

.profileCustomer {
  width: 30%;
  height: 670px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.customerImage {
  width: 55%;
  height: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customerdata {
  height: 70%;
  padding-top: 20px;
  padding-left: 15px;
}

.infodata {
  width: 80%;
  padding: 12px;
  border-radius: none;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: 3px;
  text-align: center;
}

/* right section */
.nearPartner {
  width: 70%;
  height: 670px;
  overflow-y: scroll;
}
.nearpartnertop {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 5px;
}

.nearpartnerbox {
  width: 98%;
  height: 100px;
  background-color: #ebf5fb;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px lightgray;
}

.nearpartnerimg {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-family: monospace;
  padding: 3px;
}
.nearpartnerinfo {
  height: 100%;
  width: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px dashed lightgray;
}
.nearpartnerlast {
  border-left: 2px dashed lightgray;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
}
.nearpartnerbtn {
  width: 110%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 40px;
  border: none;
  background-color: #0080ff;
  color: #ffffff;
  cursor: pointer;
}

.nearpartnerbtn:hover {
  background-color: green;
}
